@import "tailwindcss";
@import "tailwindcss/utilities";

@layer base {
  :root {
    /* --color-primary: #1e3a8a;
    --color-accent: #fbbf24; */
  }
}

#root {
  margin: 0 auto;
  text-align: center;

}
