@font-face {
  font-family: 'Vazirmatn';
  src:
    url('./assets/fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2'),
    url('./assets/fonts/ttf/Vazirmatn-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* important for performance */
}

@font-face {
  font-family: 'Vazirmatn';
  src:
    url('./assets/fonts/webfonts/Vazirmatn-Bold.woff2') format('woff2'),
    url('./assets/fonts/ttf/Vazirmatn-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Vazirmatn', sans-serif !important ;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  all: unset;
  background: none !important;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
